@font-face {
  font-family: 'ogg-bold';
  src: url('OggBold.ttf') format('truetype');
  font-weight: bold;
}

::selection {
  background-color: #000;
  color:#fff;
}

body {
  margin: 0;
  padding: 0;
}

a, button, input[type='button'] {
  -webkit-tap-highlight-color: #fff8;
}

button {
  user-select: none;
}

a {
  color: #0ef;
  text-decoration: none;
  -webkit-user-drag: none;
}

.portofolio-item {
  padding-block: 10px;
  min-height: 100px;
}
.portofolio-item :is(p, h1, h2, h3, h4):not(.introduction) {
  margin-inline: 10px;
}

p {
  font-family: Georgia;
}

.title-section {
  background-image: url('bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}

.title-text {
  text-align:center;
  font-family:ogg-bold;
  font-size:45px;
}
.t-align-center {
  text-align: center;
}

.icon {
  font-size: 20px;
  padding-inline: 5px;
}

.side-navtab-button {
  color: #fff;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #0003;
  box-shadow: 0 0 5px 2px #0001;
  border: none;
  width: 40px;
  height: 40px;
  font-size: 30px;
  z-index: 100;
  cursor: pointer;
  border-bottom-left-radius: 10px;
}
  
.side-navtab {
  clip-path: circle(0% at 100% 0);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;
  transition: .5s ease;
  background-color: #000a;
  height: 100%;
  width: 200px;
}
.side-navtab.active {
  clip-path: circle(142% at 50% 0);
}
.side-navtab .navtab-elements {
  margin-top: 50px;
  text-align: center;
  list-style: none;
  padding: 0;
}

.side-navtab .navtab-elements li a {
  display: block;
  color: #fff;
  padding: 10px;
  border-bottom: 1px solid #bbb;
}

.side-navtab .navtab-elements li a:hover {
  background-color: #555;
}


.side-navtab-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 98;
}

.side-navtab-bg.active {
  display: block;
}

#social-media-section {
  display: block;
  text-align: center;
  background: #222;
  color: #fff;
  padding: 10px;
  height: 100px;
}

#social-media-section a.icon {
  color: #fff;
  font-size: 30px;
  margin: 0 10px;
}

.introduction {
  display:block;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

.cool-button {
  font-size: 15px;
  color:#fff;
  background-color:#0bf;
  padding: 15px 20px;
  box-shadow: 0 5px 0 0 #ccc;
  transition: .3s ease;
  border:none;
  border-radius: 5px;
  outline: 1px solid #fff;
  margin: 5px;
}
.cool-button:nth-child(2) {
  font-size: 15px;
  color:#fff;
  background-color:#0bf;
  padding: 15px 20px;
  box-shadow: 0 -5px 0 0 #ccc;
  transition: .3s ease;
  border:none;
  border-radius: 5px;
  outline: 1px solid #fff;
  margin: 5px;
}
.cool-button:hover {
  transform: translateY(5px);
  background-color: #fff;
  color:#333;
  box-shadow: 0 0 0 0 #bbb;
  outline: 1px solid #333;
}
.cool-button:nth-child(2):hover {
  transform: translateY(-5px);
  background-color: #fff;
  color:#333;
  box-shadow: 0 0 0 0 #bbb;
  outline: 1px solid #333;
}

.l-screen-nav {
  display: none;
  position:fixed;
  right:0;
  top:0;
  padding-block: 10px;
  margin-right: 100px;
  background-color: #0003;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.l-screen-nav a {
  font-size: 30px;
  color:#fff;
  margin-inline: 20px;
}

.desktop-option {
  display:none;
  background-color:#222;
  color:#fff;
}

.desktop-option a {
  margin-inline: 20px;
}

@media screen and (min-width: 766px) {
  .side-navtab-button {
    width: 55px;
    height: 55px;
    font-size: 45px;
  }
}


@media screen and (min-width: 800px) {
  .title-section {
    height: 110vh;
  }
  
  .title-text {
    font-size: 100px;
  }
  .introduction {
    text-align: left;
    max-width: 760px;
    margin-inline: 30px;
    width: auto;
  }
  .display-none-800px-w {
    display: none;
  }
  .l-screen-nav {
    display: flex;
  }
  .desktop-option {
    display:block;
}
